<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
   xmlns:rim="http://www.blackberry.com/ns/widgets"
   version="1.0" rim:header="WebWorks Sample">
 
   <name>Blackberry App</name>
   <description>Blackberry App.</description>
   <icon src="icon.png"/>
   <content src="index.html"/>
 
</widget>